/*Include at least 15 elements; this includes semantic tags incorporated in the html pages
make a folder in github titled css and include this stylesheet in that folder
link this stylesheet to all html pages in the project*/

.wrapper{
    max-width:1200px;
    margin: 0 auto;
    padding: 20px;
}
.title{
  border-bottom: 3px solid rgb(255, 255, 255);
  padding-bottom: 4px;
  display: inline-block;
}
.center{
    display:block;
    margin:0 auto;
}
.responsive{
max-width:100%;
height:600px;
}
header{
    font-size:large;
    background-color:rgb(146, 171, 247);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(3, 3, 48);
}
body{
    background-color: rgb(184, 229, 251);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(3, 3, 48);
    margin:20px;
    padding:10px;
}
li{
    margin:15px;
    display:block;
    text-align:center;
}
li a{
    display:block;
    float:left;
    padding:15px;
    background-color: rgb(184,229,251);
    color: rgb(3, 3, 48);
    text-align:center;
    text-decoration: none;
    background-color:rgb(146, 171, 247);

}
li a:hover{
    background-color:rgb(241, 195, 229)   
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    color:rgb(255,255,255)
}
ul li a{
    color:rgb(241, 195, 229);
    text-decoration:none;
    padding:0;
}
ul li a:hover{
    background-color:rgb(241, 195, 229);
    
}

h1{
    text-align:center;
    font-size:large;
    letter-spacing:1px;
}
h2,h3{
    text-align:center;
    font-size:large;
}
p{
    text-align:left;
    font-size:medium;
    margin:50px;
    padding:2px;
}
nav{
    text-align:justify;
}
section{
    text-align:justify;
    font-size:medium;
}
article{
    text-align:right;
    font-size:medium;

}
aside{
    text-align:right;
    font-size:medium;
}
img{
    max-width: 100px;
    max-height: 100px;
}
figcaption{
    text-align:center;
}
footer{
    font-size:small;
}
