/*Index Stylesheet*/

.wrapper{
    max-width:1200px;
    margin: 0 auto;
    padding: 20px;
}
header{
    font-size:large;
    background-color:rgb(146, 171, 247);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
body{
    background-color: rgb(184, 229, 251);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0,0,0);
    text-align:justify;
    margin:15px;
}
li{
    margin:15px;
    display:block;
    text-align:center;
    float:inline-start;
}
li a{
    display:block;
    padding:15px;
    background-color: rgb(184,229,251);
    color: rgb(0,0,0);
    text-align:center;
    text-decoration: none;
}
li a:hover{
    background-color:rgb(241, 195, 229)
    
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    color:rgb(255,255,255)
}
ul li a{
    color:rgb(241, 195, 229);
    text-decoration:none;
    padding:0;
}
ul li a:hover{
    background-color:rgb(241, 195, 229);
}
h1{
    text-align:center;
    font-size:large;
    letter-spacing:1px;
}
h2{
    text-align:center;
    font-size:medium;
}
h3{
    text-align:center;
    font-size:medium;
}
p{
    text-align:left;
    font-size:medium;
}
nav{
    text-align:justify;
}
section{
    text-align:justify;
    font-size:medium;
}
article{
    text-align:right;
    font-size:medium;

}
aside{
    text-align:right;
    font-size:medium;
}
img{
    max-width: 100px;
    max-height: 100px;
}
footer{
    font-size:small;
}
